{# app/Resources/views/index/jarvisvue.html.twig #}
{% extends 'basevue.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
 <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Jarvis{% endblock %}

{% block body %}

<div id="app"></div>

{% endblock %}